Pandas

In [18]:
import pandas as pd

data={"Name":["Rohan", "Aman", "Ram", "Hari", "Raman", "Hari", "soman"],
     "Age":[20,19,15,22,33,21,34],
     "Salary":[20000, 39000, 42000, 14000, 1000, 1000, 1000]}
df=pd.DataFrame(data)
print(df)

    Name  Age  Salary
0  Rohan   20   20000
1   Aman   19   39000
2    Ram   15   42000
3   Hari   22   14000
4  Raman   33    1000
5   Hari   21    1000
6  soman   34    1000

In [ ]:
df=pd.read_csv("E:/Git Demo/data.csv")
print(df)

    Class           I0     PA500       HFS           DA           Area  \
0     car   524.794072  0.187448  0.032114   228.800228    6843.598481
1     car   330.000000  0.226893  0.265290   121.154201    3163.239472
2     car   551.879287  0.232478  0.063530   264.804935   11888.391827
3     car   380.000000  0.240855  0.286234   137.640111    5402.171180
4     car   362.831266  0.200713  0.244346   124.912559    3290.462446
..    ...          ...       ...       ...          ...            ...
101   adi  2000.000000  0.106989  0.105418   520.222649   40087.920984
102   adi  2600.000000  0.200538  0.208043  1063.441427  174480.476218
103   adi  1600.000000  0.071908 -0.066323   436.943603   12655.342135
104   adi  2300.000000  0.045029  0.136834   185.446044    5086.292497
105   adi  2600.000000  0.069988  0.048869   745.474369   39845.773698

           A.DA      Max.IP          DR            P
0     29.910803   60.204880  220.737212   556.828334
1     26.109202   69.717361   99.084964   400.225776
2     44.894903   77.793297  253.785300   656.769449
3     39.248524   88.758446  105.198568   493.701814
4     26.342127   69.389389  103.866552   424.796503
..          ...         ...         ...          ...
101   77.059161  204.090347  478.517223  2088.648870
102  164.071543  418.687286  977.552367  2664.583623
103   28.963331  103.732704  432.129749  1475.371534
104   27.427344  178.691742   49.593290  2480.592151
105   53.450226  154.122604  729.368395  2545.419744

[106 rows x 10 columns]