Pandas

In [1]:
import pandas as pd

data={"Name":["Rohan", "Aman", "Ram", "Hari", "Raman", "Hari", "soman"],  
     "Age":[20,19,15,22,33,21,34],
     "Salary":[20000, 39000, 42000, 14000, 1000, 1000, 1000]}  #creat disctionary
df=pd.DataFrame(data)  #convert dictionary data into fram using DataFrame.
print(df)

    Name  Age  Salary
0  Rohan   20   20000
1   Aman   19   39000
2    Ram   15   42000
3   Hari   22   14000
4  Raman   33    1000
5   Hari   21    1000
6  soman   34    1000

In [2]:
df=pd.read_csv("E:/Git Demo/employee.csv") #load dataset
print(df)

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F      NaN    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali    NaN  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M      NaN    3%
6  EMP02     rohit      M  25000.0    2%

In [3]:
print(df.head(10)) #used to find first 10 data from dataset. (defult value is 5)
print(df.tail(10))#used to last 10 data from dataset. (defult value is 5)

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F      NaN    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali    NaN  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M      NaN    3%
6  EMP02     rohit      M  25000.0    2%
    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F      NaN    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali    NaN  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M      NaN    3%
6  EMP02     rohit      M  25000.0    2%

In [4]:
print(df.info()) #used to find datatype from the dataset.

<class 'pandas.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EEID    7 non-null      str
 1   Name    6 non-null      str
 2   gender  6 non-null      str
 3   salary  5 non-null      float64
 4   Bonus   7 non-null      str
dtypes: float64(1), str(4)
memory usage: 412.0 bytes
None

In [5]:
print(df.describe()) #use to find or describe the numerical value from the dataset.

             salary
count      5.000000
mean   24400.000000
std     2607.680962
min    20000.000000
25%    25000.000000
50%    25000.000000
75%    25000.000000
max    27000.000000

In [6]:
print(df.isnull().sum()) #used to find the null value using "isnull". & using (.sum) for colum wise find null value.

EEID      0
Name      1
gender    1
salary    2
Bonus     0
dtype: int64

In [7]:
print(df.duplicated()) #used to find duplicated data

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [8]:
print(df["EEID"].duplicated()) #used to find specific colum.

0    False
1    False
2    False
3     True
4    False
5    False
6     True
Name: EEID, dtype: bool

In [9]:
print(df["EEID"].duplicated().sum()) #used to find sum of total duplicated value.

2

In [10]:
print(df.drop_duplicates("EEID")) # used to drop the duplicates value.

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F      NaN    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali    NaN  27000.0    2%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M      NaN    3%

Working with missing Data in pandas

In [11]:
print(df.dropna()) #drop null value.

    EEID    Name gender   salary Bonus
1  EMP02   rohit      M  25000.0  1.5%
3  EMP01  ayushi      F  20000.0    0%
6  EMP02   rohit      M  25000.0    2%

In [12]:
import numpy as np
print(df)

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F      NaN    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali    NaN  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M      NaN    3%
6  EMP02     rohit      M  25000.0    2%

In [13]:
df["salary"] = df["salary"].replace(np.nan, 30000) #Replace the missing value 
print(df)

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F  30000.0    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali    NaN  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M  30000.0    3%
6  EMP02     rohit      M  25000.0    2%

In [14]:
df["gender"] = df["gender"].replace(np.nan, "M")
print(df)

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F  30000.0    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali      M  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M  30000.0    3%
6  EMP02     rohit      M  25000.0    2%

In [15]:
print(df["salary"].mean()) #used to find mean

26000.0

In [16]:
print(df)

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F  30000.0    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali      M  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05       NaN      M  25000.0    0%
5  EMP06     rohit      M  30000.0    3%
6  EMP02     rohit      M  25000.0    2%

In [17]:
print(df.bfill(inplace = True)) #used to fill data from backward.

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F  30000.0    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali      M  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05     rohit      M  25000.0    0%
5  EMP06     rohit      M  30000.0    3%
6  EMP02     rohit      M  25000.0    2%

In [18]:
print(df)

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F  30000.0    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali      M  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05     rohit      M  25000.0    0%
5  EMP06     rohit      M  30000.0    3%
6  EMP02     rohit      M  25000.0    2%

In [19]:
print(df.ffill(inplace = True)) # used to fill data from front ward.

    EEID      Name gender   salary Bonus
0  EMP01    ayushi      F  30000.0    0%
1  EMP02     rohit      M  25000.0  1.5%
2  EMP03  pranjali      M  27000.0    2%
3  EMP01    ayushi      F  20000.0    0%
4  EMP05     rohit      M  25000.0    0%
5  EMP06     rohit      M  30000.0    3%
6  EMP02     rohit      M  25000.0    2%

Columns Transformation in pandas. Part-1

In [20]:
df.loc[(df["Bonus"] == "0%"),"getbonus"] = "nobonus" 
df.loc[(df["Bonus"] > "0%"), "getbonus"] = "Getbonus"
print(df) # use to find the specific contant for specific colum.

    EEID      Name gender   salary Bonus  getbonus
0  EMP01    ayushi      F  30000.0    0%   nobonus
1  EMP02     rohit      M  25000.0  1.5%  Getbonus
2  EMP03  pranjali      M  27000.0    2%  Getbonus
3  EMP01    ayushi      F  20000.0    0%   nobonus
4  EMP05     rohit      M  25000.0    0%   nobonus
5  EMP06     rohit      M  30000.0    3%  Getbonus
6  EMP02     rohit      M  25000.0    2%  Getbonus

In [21]:
df["Add Bonus"] = df["salary"].astype(str) +" "+ df["Bonus"].astype(str)
print(df)  #using .astype(str) to add int value if we have str value then
#           no need to use.
#use ".str.Capitalize()" to print first letter capital

    EEID      Name gender   salary Bonus  getbonus     Add Bonus
0  EMP01    ayushi      F  30000.0    0%   nobonus    30000.0 0%
1  EMP02     rohit      M  25000.0  1.5%  Getbonus  25000.0 1.5%
2  EMP03  pranjali      M  27000.0    2%  Getbonus    27000.0 2%
3  EMP01    ayushi      F  20000.0    0%   nobonus    20000.0 0%
4  EMP05     rohit      M  25000.0    0%   nobonus    25000.0 0%
5  EMP06     rohit      M  30000.0    3%  Getbonus    30000.0 3%
6  EMP02     rohit      M  25000.0    2%  Getbonus    25000.0 2%

Columns Transformation in pandas. Part-2

In [22]:
print(df)

    EEID      Name gender   salary Bonus  getbonus     Add Bonus
0  EMP01    ayushi      F  30000.0    0%   nobonus    30000.0 0%
1  EMP02     rohit      M  25000.0  1.5%  Getbonus  25000.0 1.5%
2  EMP03  pranjali      M  27000.0    2%  Getbonus    27000.0 2%
3  EMP01    ayushi      F  20000.0    0%   nobonus    20000.0 0%
4  EMP05     rohit      M  25000.0    0%   nobonus    25000.0 0%
5  EMP06     rohit      M  30000.0    3%  Getbonus    30000.0 3%
6  EMP02     rohit      M  25000.0    2%  Getbonus    25000.0 2%

In [23]:
df["commission"] = (df["salary"]/100)*20
print(df)

    EEID      Name gender   salary Bonus  getbonus     Add Bonus  commission
0  EMP01    ayushi      F  30000.0    0%   nobonus    30000.0 0%      6000.0
1  EMP02     rohit      M  25000.0  1.5%  Getbonus  25000.0 1.5%      5000.0
2  EMP03  pranjali      M  27000.0    2%  Getbonus    27000.0 2%      5400.0
3  EMP01    ayushi      F  20000.0    0%   nobonus    20000.0 0%      4000.0
4  EMP05     rohit      M  25000.0    0%   nobonus    25000.0 0%      5000.0
5  EMP06     rohit      M  30000.0    3%  Getbonus    30000.0 3%      6000.0
6  EMP02     rohit      M  25000.0    2%  Getbonus    25000.0 2%      5000.0

In [ ]:
data = {"Month":["january", "February", "March", "April", "May"]}
a = pd.DataFrame(data) #creat dictionary
print(a)

      Month
0   january
1  February
2     March
3     April
4       May

In [ ]:
def extract (value):  # extract first three word from colum
    return value[0:3]

a["short month"] = a["Month"].map(extract)
print(a)

      Month short month
0   january         jan
1  February         Feb
2     March         Mar
3     April         Apr
4       May         May