Pandas

In [1]:
import pandas as pd

data={"Name":["Rohan", "Aman", "Ram", "Hari", "Raman", "Hari", "soman"],  
     "Age":[20,19,15,22,33,21,34],
     "Salary":[20000, 39000, 42000, 14000, 1000, 1000, 1000]}  #creat disctionary
df=pd.DataFrame(data)  #convert dictionary data into fram using DataFrame.
print(df)

    Name  Age  Salary
0  Rohan   20   20000
1   Aman   19   39000
2    Ram   15   42000
3   Hari   22   14000
4  Raman   33    1000
5   Hari   21    1000
6  soman   34    1000

In [9]:
df=pd.read_csv("E:/Git Demo/employee.csv") #load dataset
print(df)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [10]:
print(df.head(10)) #used to find first 10 data from dataset. (defult value is 5)
print(df.tail(10))#used to last 10 data from dataset. (defult value is 5)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0
    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [11]:
print(df.info()) #used to find datatype from the dataset.

<class 'pandas.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EEID    7 non-null      str
 1   Name    6 non-null      str
 2   gender  6 non-null      str
 3   salary  5 non-null      float64
dtypes: float64(1), str(3)
memory usage: 356.0 bytes
None

In [12]:
print(df.describe()) #use to find or describe the numerical value from the dataset.

             salary
count      5.000000
mean   24400.000000
std     2607.680962
min    20000.000000
25%    25000.000000
50%    25000.000000
75%    25000.000000
max    27000.000000

In [13]:
print(df.isnull().sum()) #used to find the null value using "isnull". & using (.sum) for colum wise find null value.

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [14]:
print(df.duplicated()) #used to find duplicated data

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [16]:
print(df["EEID"].duplicated()) #used to find specific colum.

0    False
1    False
2    False
3     True
4    False
5    False
6     True
Name: EEID, dtype: bool

In [17]:
print(df["EEID"].duplicated().sum()) #used to find sum of total duplicated value.

2

In [18]:
print(df.drop_duplicates("EEID")) # used to drop the duplicates value.

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

Working with missing Data in pandas

In [19]:
print(df.dropna()) #drop null value.

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0

In [20]:
import numpy as np
print(df)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [ ]:
df["salary"] = df["salary"].replace(np.nan, 30000) #Replace the missing value 
print(df)

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0

In [ ]:
df["gender"] = df["gender"].replace(np.nan, "M")
print(df)

    EEID      Name gender   salary grnder
0  EMP01    ayushi      F  30000.0      F
1  EMP02     rohit      M  25000.0      M
2  EMP03  pranjali      M  27000.0      M
3  EMP01    ayushi      F  20000.0      F
4  EMP05       NaN      M  25000.0      M
5  EMP06     rohit      M  30000.0      M
6  EMP02     rohit      M  25000.0      M

In [ ]:
df.drop(columns=["grnder"], inplace=True) #Drope the colume.
print(df)

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0

In [ ]:
print(df["salary"].mean()) #used to find mean

26000.0