Pandas

In [4]:
import pandas as pd

data={"Name":["Rohan", "Aman", "Ram", "Hari", "Raman", "Hari", "soman"],
     "Age":[20,19,15,22,33,21,34],
     "Salary":[20000, 39000, 42000, 14000, 1000, 1000, 1000]}
df=pd.DataFrame(data)
print(df)

    Name  Age  Salary
0  Rohan   20   20000
1   Aman   19   39000
2    Ram   15   42000
3   Hari   22   14000
4  Raman   33    1000
5   Hari   21    1000
6  soman   34    1000

In [5]:
df=pd.read_csv("E:/Git Demo/data.csv")
print(df)

    Class           I0     PA500       HFS           DA           Area  \
0     car   524.794072  0.187448  0.032114   228.800228    6843.598481
1     car   330.000000  0.226893  0.265290   121.154201    3163.239472
2     car   551.879287  0.232478  0.063530   264.804935   11888.391827
3     car   380.000000  0.240855  0.286234   137.640111    5402.171180
4     car   362.831266  0.200713  0.244346   124.912559    3290.462446
..    ...          ...       ...       ...          ...            ...
101   adi  2000.000000  0.106989  0.105418   520.222649   40087.920984
102   adi  2600.000000  0.200538  0.208043  1063.441427  174480.476218
103   adi  1600.000000  0.071908 -0.066323   436.943603   12655.342135
104   adi  2300.000000  0.045029  0.136834   185.446044    5086.292497
105   adi  2600.000000  0.069988  0.048869   745.474369   39845.773698

           A.DA      Max.IP          DR            P
0     29.910803   60.204880  220.737212   556.828334
1     26.109202   69.717361   99.084964   400.225776
2     44.894903   77.793297  253.785300   656.769449
3     39.248524   88.758446  105.198568   493.701814
4     26.342127   69.389389  103.866552   424.796503
..          ...         ...         ...          ...
101   77.059161  204.090347  478.517223  2088.648870
102  164.071543  418.687286  977.552367  2664.583623
103   28.963331  103.732704  432.129749  1475.371534
104   27.427344  178.691742   49.593290  2480.592151
105   53.450226  154.122604  729.368395  2545.419744

[106 rows x 10 columns]

In [6]:
print(df.head(10))
print(df.tail(10))

  Class          I0     PA500       HFS          DA          Area       A.DA  \
0   car  524.794072  0.187448  0.032114  228.800228   6843.598481  29.910803
1   car  330.000000  0.226893  0.265290  121.154201   3163.239472  26.109202
2   car  551.879287  0.232478  0.063530  264.804935  11888.391827  44.894903
3   car  380.000000  0.240855  0.286234  137.640111   5402.171180  39.248524
4   car  362.831266  0.200713  0.244346  124.912559   3290.462446  26.342127
5   car  389.872978  0.150098  0.097738  118.625814   2475.557078  20.868620
6   car  290.455141  0.144164  0.053058   74.635067   1189.545213  15.938154
7   car  275.677393  0.153938  0.187797   91.527893   1756.234837  19.187974
8   car  470.000000  0.213105  0.225497  184.590057   8185.360837  44.343455
9   car  423.000000  0.219562  0.261799  172.371241   6108.106297  35.435762

      Max.IP          DR           P
0  60.204880  220.737212  556.828334
1  69.717361   99.084964  400.225776
2  77.793297  253.785300  656.769449
3  88.758446  105.198568  493.701814
4  69.389389  103.866552  424.796503
5  49.757149  107.686164  429.385788
6  35.703331   65.541324  330.267293
7  39.305183   82.658682  331.588302
8  84.482483  164.122511  603.315715
9  79.056351  153.172903  558.274515
    Class           I0     PA500       HFS           DA           Area  \
96    adi  1650.000000  0.047647  0.043284   274.426177    5824.895192
97    adi  2800.000000  0.083078  0.184307   583.259257   31388.652882
98    adi  2329.840138  0.066148  0.353255   377.253368   25369.039925
99    adi  2400.000000  0.084125  0.220610   596.041956   37939.255571
100   adi  2000.000000  0.067195  0.124267   330.271646   15381.097687
101   adi  2000.000000  0.106989  0.105418   520.222649   40087.920984
102   adi  2600.000000  0.200538  0.208043  1063.441427  174480.476218
103   adi  1600.000000  0.071908 -0.066323   436.943603   12655.342135
104   adi  2300.000000  0.045029  0.136834   185.446044    5086.292497
105   adi  2600.000000  0.069988  0.048869   745.474369   39845.773698

           A.DA      Max.IP          DR            P
96    21.225727   81.239571  262.125656  1603.070348
97    53.815953  298.582977  501.038494  2896.582483
98    67.246689  336.075165  171.387227  2686.435346
99    63.651988  261.348175  535.689409  2447.772353
100   46.571051  169.197983  283.639564  2063.073212
101   77.059161  204.090347  478.517223  2088.648870
102  164.071543  418.687286  977.552367  2664.583623
103   28.963331  103.732704  432.129749  1475.371534
104   27.427344  178.691742   49.593290  2480.592151
105   53.450226  154.122604  729.368395  2545.419744

In [7]:
print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class   106 non-null    str
 1   I0      106 non-null    float64
 2   PA500   106 non-null    float64
 3   HFS     106 non-null    float64
 4   DA      106 non-null    float64
 5   Area    106 non-null    float64
 6   A.DA    106 non-null    float64
 7   Max.IP  106 non-null    float64
 8   DR      106 non-null    float64
 9   P       106 non-null    float64
dtypes: float64(9), str(1)
memory usage: 8.4 KB
None