# **Problem solving**

1. write a program to display person name, age and adderss in three different line.

In [1]:
name = input("Enter your name ")
age = int(input("Enter your age "))
address = input("Enter your address ")
print("Name : ",name)
print("Age : ",age)
print("Address : ",address)

Enter your name Ram
Enter your age 19
Enter your address lucknow
Name :  Ram
Age :  19
Address :  lucknow

2. Write the program to swap two variable.

In [2]:
#Using tempory variable

a = 12
b = 13
temp = a
a=b
b=temp
print(a)
print(b)

13
12

In [3]:
#Without using tempory variable

a = 12
b = 13
a,b = b,a
print(a)
print(b)

13
12

3. Write a program to convert float in integer

In [4]:
a = float(input("Enter a number "))
a = int(a)
print(a)
print(type(a))

Enter a number 12.5
12
<class 'int'>

4. Write a program to take the details from the student for id-card and then print it in different line.

In [5]:
Name = input("Enter your name ")
Age = int(input("Enter your age "))
Class = int(input("Enter your class "))
Section = input("Enter your section ")
Address = input("Enter your address ")
Cont_No = input("Enter your Contact number ")
print("Name : ",Name)
print("Age : ",Age)
print("Class : ",Class)
print("Section : ",Section)
print("Address : ",Address)
print("Contact number : ",Cont_No)

Enter your name Ram
Enter your age 19
Enter your class 14
Enter your section D
Enter your address lucknow
Enter your Contact number 1234567890
Name :  Ram
Age :  19
Class :  14
Section :  D
Address :  lucknow
Contact number :  1234567890

5. Write a program to take user input as a integer and then convert it into float

In [6]:
a =int(input("Enter any number"))
a = float(a)
print(a)
print(type(a))

Enter any number120
120.0
<class 'float'>