In [ ]:
print("Hello world")

Hello world

Print Statement for multiple line.

In [ ]:
print("""Hello world               #use triple quotation for multiple line print statement.
This is my first program
learning python""")

Hello world               #use triple quotation for multiple line print statement.
This is my first program
learning python

In [ ]:
print("Hello world\n This is my first program\nlearning python")   #use \n for print multiple line.

Hello world
 This is my first program
learning python

**Comment**
1.single line comment use #.
2.Multiple line comment use '''  '''

# ***Variables***

---


.variables are the placeholder, which can store a value.
For example:

---


Input-
A=”hello world”

---


Print(a)

In [ ]:
a="Hello world"
print(a)

Hello world

In [ ]:
a="Rohan"                       #using f for multiple line print
b="Mohan"
print(f"{a} \n{b}")

Rohan
Mohan

In [ ]:
print("\\n")

\n

# **USER-INPUT**

In [ ]:
Name = input("enter your name : ")   # to take input from user we use input.
print("Your Name : ",Name)

enter your name : 5
Your Name :  5

In [ ]:
Name = int(input("Enter your age "))    # if you have to use different data type then mension it.
print("Age : ",Name)

Enter your age 12345678910
Age :  12345678910

In [ ]:
length = float(input("enter the length of rectangle "))      # if the input value is in decimal then use float.
print("length of rectangle : ",length)

enter the length of rectangle 20
length of rectangle :  20.0

In [ ]:
exp1 = eval(input("enter the expression : "))   # we can use eval as to solve the equqtion like 2+3=5.
print(exp1)

enter the expression : 2%2
0

# **TypeCasting and subtyping**

In [ ]:
a = "Ram"           # we can use type to know which data type is a belong to.
print(type(a))

<class 'str'>

In [ ]:
#1.	Implicite type conversion

a = 23
b = 12.3                #python it's self convert one data type to another.
print(type(a))
print(type(b))
c = a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
35.3
<class 'float'>

In [ ]:
#2.	Explicit type conversion

a = "hARI"           #user have to convert one data type to another.
b = 12.3
print(type(a))
print(type(b))
b = str(b)
c = a+b
print(c)
print(type(c))

<class 'str'>
<class 'float'>
hARI12.3
<class 'str'>

# **Problem solving**

1. write a program to display person name, age and adderss in three different line.

In [ ]:
name = input("Enter your name ")
age = int(input("Enter your age "))
address = input("Enter your address ")
print("Name : ",name)
print("Age : ",age)
print("Address : ",address)

Enter your name aman
Enter your age 12
Enter your address jnk
Name :  aman
Age :  12
Address :  jnk

2. Write the program to swap two variable.

In [ ]:
#Using tempory variable

a = 12
b = 13
temp = a
a=b
b=temp
print(a)
print(b)

13
12

In [ ]:
a = 1
b = 2
a=a^b #a+b
b=a^b #a-b
a=a^b #a-b
print(a)
print(b)

2
1

In [ ]:
#Without using tempory variable

a = 12
b = 13
a,b = b,a
print(a)
print(b)

13
12

3. Write a program to convert float in integer

In [ ]:
a = float(input("Enter a number "))
a = int(a)
print(a)
print(type(a))

Enter a number 10.5
10
<class 'int'>

4. Write a program to take the details from the student for id-card and then print it in different line.

In [ ]:
Name = input("Enter your name ")
Age = int(input("Enter your age "))
Class = int(input("Enter your class "))
Section = input("Enter your section ")
Address = input("Enter your address ")
Cont_No = input("Enter your Contact number ")
print("Name : ",Name)
print("Age : ",Age)
print("Class : ",Class)
print("Section : ",Section)
print("Address : ",Address)
print("Contact number : ",Cont_No)

5. Write a program to take user input as a integer and then convert it into float

In [ ]:
a =int(input("Enter any number"))
a = float(a)
print(a)
print(type(a))

## **1.	Arithmetic Operators**

In [ ]:
a =int(input("enter first number")) + int(input("enter second number"))      #add
b=3-2        #subtract
c=3*2        #multipal
d=8/2        #divided
e=8%3        #reminder
f=13//3       #quotient
g=2**2       #power
print(f"Add: {a}\n subtract: {b}\n multipal: {c}\n divided: {d}\n reminder: {e}\n quotient: {f}\n power: {g}")

enter first number1
enter second number2
Add: 3
 subtract: 1
 multipal: 6
 divided: 4.0
 reminder: 2
 quotient: 4
 power: 4

# **	Logical Operators**

In [ ]:
a = 3>7 and 3>2     #use of and operator. both are true then only true
print(a)

False

In [ ]:
a = 3>7 or 3>2    # use of OR operator if any one is true then gives true
print(a)

True

In [ ]:
a = 3>7 or 3>2    #use of not just to convert opposite
a = not(a)
print(a)

False

# **Conditional Statement**

**1.	If the statement:**

In [ ]:
mark = int(input("enter your mark"))          # it will print both statement if the condition is true

if mark >=50:
  print("you will ge a gift")

print("thank you")

enter your mark20
thank you

**2. If else statement:**

In [ ]:
mark = int(input("Enter your mark"))

if mark < 40:
  print("Fail")

else:
  print("pass")

Enter your mark20
Fail

**3. If-elif-elae statement:**

In [ ]:
mark = int(input("enter your mark"))
if mark<40:
  print("fail")
elif mark<50:
  print("you will got mbl phone")
else:
  print("you will got laptop")

enter your mark40
you will got mbl phone

**4.	Nested if statement:**

In [ ]:
mark=int(input("enter your mark"))

if mark<40:
  print("you will get mbl phone")
  if mark<25:
    print("ypu will get nothing")

else:
  print("pass")

enter your mark20
you will get mbl phone
ypu will get nothing

**5.	Short hand if statement:**

In [ ]:
mark = int(input("Enter your mark"))
print("you will get moble phone") if mark>=80 else print("You will not get moblie phone")

# **If statement problems**

**write a program to check the number is positive or negative**

In [ ]:
number=int(input("enter any number"))

if number < 0:
  print("number is negative")
else:
  print("number is positive")

enter any number0
number is positive

**Write a program to check number is odd or even**

In [ ]:
number=int(input("enter any number"))

if number%2==0:
  print("Even number")
else:
  print("odd number")

enter any number0
Even number

**Write a program to creat area calculator**

In [ ]:
print("\033[1mArea calculator\033[0m ")
print("""Enter 1 for find Area of square
 Enter 2 for Area of Rectangle
 Enter 3 for Area of Triangle
 Enter 4 for Area of Circle""")

Input = int(input("Enter number between 1 to 4 : "))

if Input == 1:
  length=int(input("enter the length of square : "))
  Area=length*length
  print("Area of squqre : ",Area)

elif Input == 2:
  length=int(input("enter the length of Rectangle : "))
  breath=int(input("enter the breadth of Rectangle : "))
  Area=length*breath
  print("Area of Rectangle : ",Area)

elif Input == 3:
  Height= int(input("Enter Height of triangle : "))
  Base = int(input("Enter base of triangel :"))
  Area = (Height*Base)/2
  print("Area of Triangle : ",Area)

elif Input == 4:
  Radius=int(input("Enter Radius of circle"))
  Area=((22/7)*(Radius**2))
  print("Area of circle : ",Area)

else:
  print("Choose correct number \n Thank you")

**Write a program where the pass letter is vowel or not**

In [ ]:
Input = str(input("Enter any letter : "))

if Input in "AEIOU" or Input in "aeiou":
  print("vowel")


else:
  print("Not vowel")

Enter any letter : x
Not vowel

**Write a program to check where the number is single digit number or 2 digit number soo on upto 5 digit.**

In [ ]:
Input=int(input("Enter any number : "))

if Input < 10:
  print("single digit number")

elif Input < 100:
  print("two digit number")

elif Input <1000:
  print("Three digit number")

elif Input <10000:
  print("Four digit number")

elif Input <100000:
  print("Five digit number")

else:
  print("Enter number between one to five digit only")

# **FOR LOOP**

In [ ]:
for a in range(1,6):  #we can use +1 in last here we have to take range 1 to 5 but we add 1 at last
  print(a)

1
2
3
4
5

**Write a program to print even numbers from 1 to 20 using a for loop.**

In [ ]:
for i in range (2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

**Write a program that prints the square of numbers from 1 to 5 using a for loop.**

In [ ]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

**Write a program to calculate the sum of numbers from 1 to 10 using a for loop.**

In [ ]:
a=0
for i in range(1,11):
  a+=i
print(a)

55

**Write a program to print the multiplication table of 5 using a for loop.**

In [ ]:
a=int(input("Enter any number"))
for i in range(1,11):
  print(a,"*",i,"=",a*i)

Enter any number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**Write a program to print all odd numbers between 1 and 50 using a for loop.**

In [ ]:
for i in range(1,51,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

**Write a program to print numbers from 10 to 1 using a for loop.**

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

**Write a program to count how many numbers are there from 1 to 100 using a for loop.**

In [ ]:
count = 0

for i in range(1, 101):
    count += 1

print(count)

100

In [ ]:
for i in range (1,9):
  print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [ ]:
for i in range (1,9,2):   # 2 means how much gap we need in the middle
  print(i)

1
3
5
7

**multiple of table**

In [ ]:
a = int(input("Enter any number : "))

for i in range(1,11):
  print(a,"*",i,"=",a*i)

Enter any number : 69
69 * 1 = 69
69 * 2 = 138
69 * 3 = 207
69 * 4 = 276
69 * 5 = 345
69 * 6 = 414
69 * 7 = 483
69 * 8 = 552
69 * 9 = 621
69 * 10 = 690

# **WHILE LOOP**

In [ ]:
n = 0
while n<=5:
  print(n)
  n+=1

0
1
2
3
4
5

In [ ]:
n=0
while n<=10:
  print(n," : Hellow world")
  n+=1

0  : Hellow world
1  : Hellow world
2  : Hellow world
3  : Hellow world
4  : Hellow world
5  : Hellow world
6  : Hellow world
7  : Hellow world
8  : Hellow world
9  : Hellow world
10  : Hellow world

**Multipal table**

In [ ]:
n = int(input("Enter any number"))
i=1
while i <=10:
  print(n,"*",i,"=",n*i)
  i+=1

# **Problems**

**Write a program using a for loop to print numbers from 1 to 10.**

In [ ]:
n=0
while n<=10:
  print(n)
  n+=1

0
1
2
3
4
5
6
7
8
9
10

**Write a program to print even numbers from 1 to 20 using a for loop.**

In [ ]:
n=2
while n<=20:
  print(n)
  n+=2

2
4
6
8
10
12
14
16
18
20

**Write a program that prints the square of numbers from 1 to 5 using a for loop.**

In [ ]:
n=1
while n<=5:
  print(n**2)
  n+=1

1
4
9
16
25

**Write a program to calculate the sum of numbers from 1 to 10 using a for loop**

In [ ]:
a=0
n=0
while n<=10:
  n+=1
  a+=n
print(a)

66

**Write a program to print numbers from 10 to 1 using a for loop.**

In [ ]:
n=10
while n>=1:
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

**Write a program to count how many numbers are there from 1 to 100 using a for loop**

In [ ]:
a=0
n=1
while n<=100:
  n+=1
  a=a+1
print(a)

100

**Write a program to find the factorial of a given number using a for loop.**

In [ ]:
n=int(input("Enter any number"))
i=1
factorial=1
while i<=n:
  factorial*=i
  i+=1
print(factorial)

Enter any number2
2

**While True**

In [ ]:
while True:

 print("Hellow world")

In [ ]:
while True:
  a=int(input("enter any number"))
  b=int(input("enter any number"))
  print(a+b)
  repeat=input("enter yes if you want to break ")
  if repeat=="yes":
    break

In [ ]:
num = int(input("Enter a number: "))  #option

order = len(str(num))

sum_of_powers = sum(int(digit) ** order for digit in str(num))

if num == sum_of_powers:
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is NOT an Armstrong number")

# **Nested Loops**

It is used to solve pattern problem

In [ ]:
for i in range(1,4):
  for j in range(1,11):
    print(j, end =" ") #use end ="" to print in singlr line
  print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
#pattern problem
"""
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
"""

for i in range(1,6):
  for j in range(1,i+1):
    print(j, end="  ")

  print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [ ]:
'''# Write a program to print:

# * * * *
# * * * *
# * * * *
# * * * *'''

for i in range(1,5):
  for j in range(1,5):
    print("*", end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
'''
1
2 2
3 3 3
4 4 4 4'''

for i in range(1,5):
  for j in range(i):
    print(i, end= " ")
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
'''
* * * *
* * *
* *
*   '''

for i in range(4,0,-1):
  for j in range(i):
    print("*", end=" ")
  print()

* * * *
* * *
* *
*

# **For loop with conditional stements**

In [ ]:
for i in range(1,11):
  if i==5:
    print("add this song into fav")
  else:
    print(i)

1
2
3
4
add this song into fav
6
7
8
9
10

In [ ]:
for i in range (1,101):
  if i%8==0 and i%12==0:
    print(i)

24
48
72
96

In [ ]:
#while loop
n=5
while n<=20:
  if n%3==0 and n%12==0:
    print('my fav')
  else:
    print(n)
  n+=1

5
6
7
8
9
10
11
my fav
13
14
15
16
17
18
19
20

# **Break and continue statement**

continue statement:  used when you want to skip a particular condition.

Break Statement: used when you  want to destroy a loop at a certain condition and come out of the loop.

In [ ]:
for i in range(1,11):
  if i==5:
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,11):
  if i==5:
    break
  else:
    print(i)
print("Thank you")

1
2
3
4
Thank you

# **Problem Solving**

1. Write a program to find all the even number upto 50

In [ ]:

sum=0
for i in range(1,51):
  if i%2==0:
    sum+=i
print("sum of all the even number : ",sum)

sum of all the even number :  650

2. Write a program to write first 20 number and their squared number.

In [ ]:
for i in range(1,21):
  print(i, i*i)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400

3. Write a program to find sum of first 10 odd number using while loop.

In [ ]:
sum=0
n=0
while n<=20:
  if n%2!=0:
   sum+=n
  n+=1
print(sum)

100

4.Write a program to check ia number is divisible by 8 and 12 up to 100 number.

In [ ]:
for i in range(1,101):
  if i%8==0 and i%12==0:
    print(i)

24
48
72
96

Write a program to create a billing system at supermart.

In [ ]:
while True:
    name = input("Enter your name (or type 'exit' to stop): ")
    if name == "exit":
        break  # Stop outer loop if user types exit

    total = 0

    while True:
        print("Enter the amount and quantity")
        amount = float(input("Enter amount: "))
        quantity = float(input("Enter quantity: "))
        total += amount * quantity

        repeat = input("Do you want to add more input? (Yes/No): ")
        if repeat == "no":
            break

    print("-" * 40)
    print("Name:", name)
    print("Total:", total)
    print("-" * 40)

Enter your name (or type 'exit' to stop): ram
Enter the amount and quantity
Enter amount: 12
Enter quantity: 45
Do you want to add more input? (Yes/No): bo
Enter the amount and quantity
Enter amount: 15
Enter quantity: 40
Do you want to add more input? (Yes/No): no
----------------------------------------
Name: ram
Total: 1140.0
----------------------------------------
Enter your name (or type 'exit' to stop): exit

**"why fit in, when you are born yo stand out!"**

In [ ]:
# Write a program to find the length of the following string.
a= "why fit in, when you are born yo stand out!"
b=(len(a))
print(b)

43

In [ ]:
# Write a program to check how many times alphabe o is occuring.
a="why fit in, when you are born yo stand out!"
print(a.count("o"))#we should used count statement to count

4

In [ ]:
#Write a program to convert whole string into lower and upper case.
a="why fit in, when you are born yo stand out!"
print(a.lower()) #USED TO CONVERT SMALL LETTER
print(a.upper()) #used to convert big letter

why fit in, when you are born yo stand out!
WHY FIT IN, WHEN YOU ARE BORN YO STAND OUT!

In [ ]:
#Write a program to convert, the following string into a title.
a="why fit in, when you are born yo stand out!"
print(a.title())

Why Fit In, When You Are Born Yo Stand Out!

In [ ]:
#Write a program to find the index number of"fit in".
a="why fit in, when you are born yo stand out!"
print(a.index("fit in"))

4

# **Pattern problem**

In [ ]:
"""
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
"""
for i in range(1,6): #rows
  for j in range(1,i+1): #columns
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6): #rows
  for j in range(1,i+1): #columns
    print("*",end=" ")  # for star pattern
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
"""
 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5
 """
for i in range(1,6): #rows
  for j in range(1,i+1): #columns
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
"""
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5
"""
for i in range(1,6): #rows
  for j in range(i,6): #columns
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

# **String**

string are the combination of number, Symbols and letters, enclosed inside quotations.

Creating of a string:

---
String can be created by enclosing numbers, letters or special symbols inside double quotations.


---
*   a=("hello python")  
*   print(a)


**1.Length: **

* it count the length of string.  
* print(len(a))  




---
**2.count:**


*  it is use to count how many times the alphabet is in string. for example "hello python" o is 2 times.
*   print(a.count("o"))


---
**3.upper:**


*   it is use to converter small letter alphabet into big.
*   print(a.upper())


---
**4.lower**


*  it is use to convert big letter alphabet into small.
*   print(a.lower())


---
**5.index**


*  it is use to find the exject location of string.
*   print(a.index("hello"))

**6.Capitalized**


*  Used to captial the first letter of the string.
*   print(a.capitalized())

---

**7.find**


* used to find the letter index in the string
*  print(a.find("l"))

---
**8.formate**

* name="jhon"    
* a="my name is{}"


* print(a.formate(Name))   # it call curly bracket and fill that space.

---

**9.Center**

*   it is use to provide the string in center.
*   print(a.center(10,"*"))    # we can use * if we want fill the empty space.

In [ ]:
a=("jain is useless campus")

print(len(a))  # length
print(a.count("i")) # count how many letter are given character
print(a.lower())  #convert small letter
print(a.upper()) #convert big letter
print(a.index("useless")) #("o",10,18)  #find index vanlu
print(a.capitalize()) # convert first letter capital

22
2
jain is useless campus
JAIN IS USELESS CAMPUS
8
Jain is useless campus

In [ ]:
#to write  variable inside the string
name="Rohan"
b="my name is: ",name
print(b)

('my name is: ', 'Rohan')

In [ ]:
#so we use formate to make it structure
name="Rohan"
age=14
b="my name is: {}. and my age is{}"
print(b.format(name,age))

my name is: Rohan. and my age is14

In [ ]:
#use center
a= "Rohan"
print(a.center(20,"*"))

*******Rohan********

In [ ]:
print( "aman gandu\\n")

aman gandu\n

In [ ]:
str="Hello, "
name=input("Enter your name: ")
str+=name
str+=" welcome to python world"
print(str)

Enter your name: Rohan
Hello, Rohan welcome to python world

In [ ]:
ch="a"
print(ord(ch))

97

In [ ]:
for i in range((ord("A")-ord("@")),ord("e")):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# **List**



*   List are  the collection of ordered and mutable data.

*   list are written inside the square brackets.

*   the value inside a list is separated by coma(,).
*   mutable means once created, they an be changed.


*   mutiple datatypes can be written inside a list.

In [ ]:
# Example
fruits = ["apple", "banana", "cherry",12,15]
print(fruits)
print(type(fruits))

['apple', 'banana', 'cherry', 12, 15]
<class 'list'>

**Slicing List**

In [ ]:
fruits = ["apple", "banana", "cherry",12,15]
print(fruits[1])
print(fruits[-2])
print(fruits[0:2])
print(fruits[::-1])
print(fruits[0::])

banana
12
['apple', 'banana']
[15, 12, 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 12, 15]

**List Iteration**

In [ ]:
#Iteration using for loop
fruits = ["apple", "banana", "cherry",12,15]
for i in fruits:
  print(i)

apple
banana
cherry
12
15

In [ ]:
#Iteration using for loop with range and length
a=["apple", "banana", "cherry",12,15]
for i in range(len(a)):
  print(a[i])

apple
banana
cherry
12
15

In [ ]:
#Iteration using while loop
a=["apple", "banana", "cherry",12,15]
i=0
while i<len(a):
  print(a[i])
  i+=1

apple
banana
cherry
12
15

 **List Function**

to find the length of list

In [ ]:
a=["apple", "banana", "cherry",12,15]
print(len(a))

5

to count an occurence of a particular element

In [ ]:
a=["apple", "banana", "cherry",12,15]
print(a.count("apple"))

1

To add to there list

In [ ]:
a=["apple", "banana", "cherry",12,15]
a.append("Stoberry")
print(a)

['apple', 'banana', 'cherry', 12, 15, 'Stoberry']

TO add  to a specific location

In [ ]:
a=["apple", "banana", "cherry",12,15]
a.insert(1,"Stoberry")
print(a)

['apple', 'Stoberry', 'banana', 'cherry', 12, 15]

To remove item from list

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
print(a.remove("banana")) #use print to check
print(a)

None
['apple', 'Stoberry', 'cherry', 12, 15]

To remove from a certain location

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
a.pop(1)
print(a)

['apple', 'banana', 'cherry', 12, 15]

To creat a copy of list

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
b=(a.copy())
print(b)

['apple', 'Stoberry', 'banana', 'cherry', 12, 15]

To access an element

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
print(a.index("apple"))

0

To entend the list

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
c=["Hulk","mojo"]
print(a.extend(c))
print(a)

None
['apple', 'Stoberry', 'banana', 'cherry', 12, 15, 'Hulk', 'mojo']

To reverst the list

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
a.reverse()
print(a)

None
[15, 12, 'cherry', 'banana', 'Stoberry', 'apple']

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
print(a[::-1])

[15, 12, 'cherry', 'banana', 'Stoberry', 'apple']

To sort the list

In [ ]:
a=[1,6,10,8,2,4,7,6,2,3]
a.sort()
print(a)

[1, 2, 2, 3, 4, 6, 6, 7, 8, 10]

To clear all the data from the list

In [ ]:
a=["apple","Stoberry", "banana", "cherry",12,15]
a.clear()
print(a)

[]

 **List Comprehension**

In [ ]:
a=[1,6,10,8,2,4,7,6,2,3]
b=[]
for i in a:
  if i>4:
    b.append(i)
print(b)

[6, 10, 8, 7, 6]

# **Problem Solving**

A=["Ross","Rachel","Monica","joe"]

1.Write a program to swap first and forth element.

In [ ]:
A = ["Ross","Rachel","Monica","joe"]
A[0],A[3]=A[3],A[0]
print(A)

['joe', 'Rachel', 'Monica', 'Ross']

2. Write a orogram to add a new value at a second position.

In [ ]:
A=["Ross","Rachel","Monica","joe"]
print(A.insert(1,"Chaman"))
print(A)

None
['Ross', 'Chaman', 'Rachel', 'Monica', 'joe']

3.  Write a program to delect a value at a second position

In [ ]:
b=[13,7,12,10]
b.pop(2)
print(b)

[13, 7, 10]

4. Write a program to multiply all the numbers in the list

In [ ]:
b=[13,7,12,10]
a=1
for i in b:
  a*=i
print(a)

10920

5.

In [ ]:
b=[13,7,12,10]
b.sort()
print(b)
print(b[-1])

[7, 10, 12, 13]
13

In [ ]:
b=[13,7,12,10]
a=max(b)
print(a)

13

In [ ]:
numbers=[13,7,12,10]
largest=numbers[0]
for num in numbers:
  if num>largest:
    largest=num
print(largest)

13

# **Tuples**



*   Tuples are collection of ordered and un-mutable data.

*   for tuple no brackets are mandatory. By choice one can use parentheses.

*   The value inside a tuple is separated by coma(,)
*   once created, tuples cannot be changed.


*   Multiple datatype can be written inside a tuples.

In [ ]:
a="apple","Stoberry", "banana", "cherry",12,15
print(type(a))

<class 'tuple'>

# **Dictionary**



*   Dictionary allows user to write the data in the form of keys and values.

*   Dictionaries are enclosed inside curly brackets{}.
*   Keys and values are separated by colon


*   Every key value pair is separated by a coma(,)

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
print(Employee_Data)
print(Employee_Data["name"])  #We can uhe key value to get specific index

{'name': 'jhon', 'age': 14, 'gender': 'Male'}
jhon

**Iteration in Dictionary**

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
for i in Employee_Data: #print Key
  print(i)

name
age
gender

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
for i in Employee_Data.values(): #method 1
  print(i)  #print value

jhon
14
Male

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
for i in Employee_Data: #method 2
  print(Employee_Data[i]) #print value

jhon
14
Male

In [ ]:
#to print both key and value
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
for x,y in Employee_Data.items():
  print(x,y)

name jhon
age 14
gender Male

**Functions**

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
#get
print(Employee_Data.get("name"))
#item
print(Employee_Data.items())
#keys
print(Employee_Data.keys())
#values
print(Employee_Data.values())
#copy
print(Employee_Data.copy())

jhon
dict_items([('name', 'jhon'), ('age', 14), ('gender', 'Male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['jhon', 14, 'Male'])
{'name': 'jhon', 'age': 14, 'gender': 'Male'}

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
#setdefault
# Checks if the key "age" exists in the dictionary.
# If it exists → returns the existing value.
print(Employee_Data.setdefault("age",15))
#update
print(Employee_Data.update({"name":"Rohan"}))

14
None
Rohan

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
#update
print(Employee_Data.update({"name":"Rohan"}))
print(Employee_Data)

None
{'name': 'Rohan', 'age': 14, 'gender': 'Male'}

In [ ]:
Employee_Data={"name":"jhon","age":14,"gender":"Male"}
#pop
print(Employee_Data.pop("name"))
print(Employee_Data)

jhon
{'age': 14, 'gender': 'Male'}

**Nested Dictionaries**

In [ ]:
Employe={1:{"name":"jhon","age":14,"gender":"Male"},
        2:{"name":"Rohan","age":15,"gender":"Male"}}
print(Employe)

{1: {'name': 'jhon', 'age': 14, 'gender': 'Male'}, 2: {'name': 'Rohan', 'age': 15, 'gender': 'Male'}}

In [ ]:
Employe={1:{"name":"jhon","age":14,"gender":"Male"},
        2:{"name":"Rohan","age":15,"gender":"Male"}}
print(Employe[2]["gender"])

Male

**Problem Solving**

#wrte a program to sort the dictionary value

In [ ]:
a={"a":12,"b":4,"c":15,"d":19}
a=sorted(a.values())
print(a)

[4, 12, 15, 19]

Value are square of ker

In [ ]:
a={}
n=int(input("Enter the number: "))
for i in range(1,n+1):
  a[i]=i*i
  print(a)

Enter the number: 15
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Write a program to multiple all the items in a dictionary.

In [ ]:
a={"a":1,"b":2,"c":3,"d":4}
n=1
for i in a:
  n*=a[i]
print(n)

24

Write a python program to sort a dictionary by key.