# **TypeCasting and subtyping**

In [1]:
a = "Ram"           # we can use type to know which data type is a belong to.
print(type(a))

<class 'str'>

In [2]:
#1.	Implicite type conversion

a = 23
b = 12.3                #python it's self convert one data type to another.
print(type(a))
print(type(b))
c = a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
35.3
<class 'float'>

In [3]:
#2.	Explicit type conversion

a = "hARI"           #user have to convert one data type to another.
b = 12.3
print(type(a))
print(type(b))
b = str(b)
c = a+b
print(c)
print(type(c))

<class 'str'>
<class 'float'>
hARI12.3
<class 'str'>