In [1]:
print("Hello world")

Hello world

Print Statement for multiple line.

In [2]:
print("""Hello world           #use triple quotation for multiple line print statement.
This is my first program
learning python""")

Hello world           #use triple quotation for multiple line print statement.
This is my first program
learning python

In [3]:
print("Hello world\nThis is my first program\nlearning python")   #use \n for print multiple line.

Hello world
This is my first program
learning python

Comment 1.single line comment use #. 2.Multiple line comment use ''' '''

# **Variables**


.variables are the placeholder, which can store a value.
For example:

---


Input-
A=”hello world”

---


Print(a)

a="Hello world"
print(a)

In [4]:
a="Rohan"                       #using f for multiple line print
b="Mohan"
print(f"{a} \n {b}")

Rohan
 Mohan

In [5]:
print("\\n")

\n